<br><br>
<div class="container">
 <div class = "row">
<div class="col-sm-6 mx-auto">
    <div class= "row icon-examples text-center">
        <div class = "col-sm">
         <div class ="card shadow" routerLink="/Setting"><br>
               <i class="fa fa-cog fa-5x text-center text-danger"></i>
               <br/>
               <h5 class="card-text">หากต้องการตั้งค่าข้อมูล คลิกที่ปุ่มนี้</h5>
                 <div class="card-body" >
            </div>
         </div>
       <br>
    </div>
 </div>
</div>
<div class="col-sm-6 mx-auto">
    <div class= "row icon-examples text-center">
        <div class = "col-sm">
         <div class ="card shadow" routerLink="/Viwe"><br>
               <i class="fa fa-tv fa-5x text-center text-info"></i>
               <br/>
               <h5 class="card-text">หากต้องการดูข้อมูล คลิกที่ปุ่มนี้</h5>
                 <div class="card-body" >
            </div>
         </div>
       <br>
    </div>
 </div>
</div>
<div class="col-sm-6 mx-auto">
    <div class= "row icon-examples text-center">
        <div class = "col-sm">
         <div class ="card shadow" ><br>
               <i class="fa fa-question-circle fa-5x text-center text-dark"></i>
               <br/>
               <h5 class="card-text">คำถาม</h5>
                 <div class="card-body" >
            </div>
         </div>
       <br>
    </div>
 </div>
</div>
<div class="col-sm-6 mx-auto">
    <div class= " row icon-examples text-center">
        <div class = "col-sm">
         <div class ="card shadow"><br>
           
                 <div class="card-body" >
                    <button type="button" class="btn btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        <i class="fa fa-phone-square px-4 fa-3x text-center text-warning"></i>
                      </button>
                      <a  href= "https://www.facebook.com/" role="button" class="btn btn" data-container="body" data-toggle="popover" data-placement="top" >
                        <i class="fa fa-facebook-square px-4 fa-3x text-center text-primary"></i>
                      </a>
                      <a href="https://mail.google.com/" role="button" class="btn btn" data-container="body" data-toggle="popover" data-placement="top">
                        <i class="fa fa-envelope px-4 fa-3x text-center text-secondary"></i> 
                      </a>
                    <br/><br/>
                    <h5 class="card-text">ติดต่อ</h5>
            </div>
            <br/>
         </div>
       <br>
    </div>
 </div>
</div>
</div>
</div>
       
